*.pyc
*.swp
en.utf-8.add
en.utf-8.add.spl
spell/
*.pyc*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
ranger/*pyc
ranger/*pyo
ranger/tagged
ranger/bookmarks
ranger/history
mpd/mpd.db
mpd/mpd.pid
mpd/mpd.log
mpd/mpdstate
mpd/playlists
ncmpcpp/error.log
andreas_i3/
